<div class="container-fluid ">
  <h2 class="bg-info p-2 text-center text-white">Reactive Form</h2>
</div>

<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="signupForm"  [formGroup]="signUpForm" (submit)="onSignUp()">
        <div class="form-group">
          <label for="username"
            >Username <sup class="text-danger"><strong>*</strong></sup></label
          >
          <input
            type="text"
            formControlName="username"
            id="username"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="f['username'].touched && f['username'].hasError('required')"
          >
            Username is required field !
          </span>
          <ng-container *ngIf="f['username'].dirty">
            <span
              class="text-danger"
              *ngIf="f['username'].hasError('noSpaceBar')"
            >
              {{f['username'].errors?.['noSpaceBar']}}
            </span>
            <span class="text-danger" *ngIf="f['username'].hasError('pattern')">
              Username should not include special charectors and numbers !
            </span>
            <span
              class="text-danger"
              *ngIf="f['username'].hasError('minlength')"
            >
              Minimum length of username should be
              <strong
                >{{f['username'].errors?.['minlength'].requiredLength}}</strong
              >
              & the actual length is
              <strong
                >{{f['username'].errors?.['minlength'].actualLength}}</strong
              >
              !
            </span>
            <span
              class="text-danger"
              *ngIf="f['username'].hasError('maxlength')"
            >
              Maximum length of username should be
              <strong
                >{{f['username'].errors?.['maxlength'].requiredLength}}</strong
              >
              & the actual length is
              <strong
                >{{f['username'].errors?.['maxlength'].actualLength}}</strong
              >
              !
            </span>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="email"
            >Email <sup class="text-danger"><strong>*</strong></sup></label
          >
          <input
            type="text"
            formControlName="email"
            id="email"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="f['email'].touched && f['email'].hasError('required')"
          >
            Email is required field !
          </span>
          <ng-container *ngIf="f['email'].dirty">
            <span class="text-danger" *ngIf="f['email'].hasError('pattern')">
              Email should not include special charectors and numbers !
            </span>

            <span class="text-danger" *ngIf="f['email'].hasError('emailExist')">
              {{f['email'].errors?.['emailExist']}}
            </span>
            <span class="text-success" *ngIf="f['email'].valid">
              This Email is available !
            </span>

            <mat-progress-bar
              mode="query"
              *ngIf="f['email'].pending"
            ></mat-progress-bar>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="empId"
            >Employee Id <sup class="text-danger"><strong>*</strong></sup>
            </label
          >
          <input
          placeholder="E123"
            type="text"
            formControlName="empId"
            id="empId"
            class="form-control"
          />
          <span
            class="text-danger"
            *ngIf="f['empId'].touched && f['empId'].hasError('required')"
          >
            Employee Id is required field !
          </span>
          <ng-container *ngIf="f['empId'].dirty">
            <span
              class="text-danger"
              *ngIf="f['empId'].hasError('invalidEmpId')"
            >
              {{f['empId'].errors?.['invalidEmpId']}}
            </span>
          </ng-container>
        </div>
        <div class="form-group">
          <h3>Gender <sup class="text-danger"><strong>*</strong></sup></h3>
          <ng-container *ngFor="let gender of genderArr">
            <label [for]="gender">
              <input
                type="radio"
                [value]="gender"
                name="gender"
                formControlName="gender"
                [id]="gender"
              />
              {{ gender | titlecase }}</label
            >
          </ng-container>
        </div>

        <div formArrayName="skills">
          <h3>Add Skills <sup class="text-danger"><strong>*</strong></sup></h3>
          <div
            class="row"
            *ngFor="let skill of skillsFormArr.controls; let i = index"
          >
            <div class="col-md-10">
              <input
                type="text"
                [formControlName]="i"
                class="form-control mb-2"
              />
            </div>
            <div class="col-md-2" *ngIf="i > 0">
              <a class="text-danger"><i (click)="onRemove(i)" class="fa-solid fa-trash-can fa-2x"></i></a>
              <!-- <button (click)="onRemove(i)" class="btn btn-danger btn-sm">
                Remove
              </button> -->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                [disabled]="skillsFormArr.invalid"
                (click)="onSkillAdd()"
                class="btn btn-primary btn-sm"
                type="button"
                *ngIf="skillsFormArr.length < 5; else nomoreskills"
              >
                Add More Skills
              </button>
              <ng-template #nomoreskills>
                <span class="text-warning"> You can add Max 5 skills !</span>
              </ng-template>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6" formGroupName="currentAddress">
            <h4>Current Address<sup class="text-danger"><strong>*</strong></sup></h4>
            <div class="form-group">
              <label for="country">Country<sup class="text-danger"><strong>*</strong></sup></label>
              <select
                formControlName="country"
                class="form-control"
                id="country"
              >
                <option value="">Select Country</option>
                <option
                  *ngFor="let country of countryArr"
                  [value]="country.Country"
                >
                  {{ country.Country }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="state">state<sup class="text-danger"><strong>*</strong></sup></label>

              <input
                type="text"
                formControlName="state"
                class="form-control"
                id="state"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGroup['state'].touched &&
                  currAddInnerFormGroup['state'].hasError('required')
                "
              >
                State is Mandatory in current Address !
              </span>
            </div>
            <div class="form-group">
              <label for="city">City<sup class="text-danger"><strong>*</strong></sup></label>

              <input
                type="text"
                formControlName="city"
                class="form-control"
                id="city"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGroup['city'].touched &&
                  currAddInnerFormGroup['city'].hasError('required')
                "
              >
                City is Mandatory in current Address !
              </span>
            </div>

            <div class="form-group">
              <label for="zipcode">zipcode<sup class="text-danger"><strong>*</strong></sup></label>

              <input
                type="text"
                formControlName="zipcode"
                class="form-control"
                id="zipcode"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGroup['zipcode'].touched &&
                  currAddInnerFormGroup['zipcode'].hasError('required')
                "
              >
                zipcode is Mandatory in current Address !
              </span>
              <ng-container *ngIf="currAddInnerFormGroup['zipcode'].dirty">
                <span
                  class="text-danger"
                  *ngIf="
                    currAddInnerFormGroup['zipcode'].hasError('minlength') ||
                    currAddInnerFormGroup['zipcode'].hasError('maxlength')
                  "
                >
                  Invalid zipcode ( zipcode should contain 6 numbers !)
                </span>
              </ng-container>
            </div>
          </div>

          <div class="col-md-6" formGroupName="permanentAddress">
            <h4>Permanent Address<sup class="text-danger"><strong>*</strong></sup></h4>
            <div class="form-group">
              <label for="percountry">Country<sup class="text-danger"><strong>*</strong></sup></label>
              <select
                formControlName="country"
                class="form-control"
                id="percountry"
              >
                <option value="">Select Country</option>
                <option
                  *ngFor="let country of countryArr"
                  [value]="country.Country"
                >
                  {{ country.Country }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="perstate">state<sup class="text-danger"><strong>*</strong></sup></label>

              <input
                type="text"
                formControlName="state"
                class="form-control"
                id="perstate"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGroup['state'].touched &&
                  currAddInnerFormGroup['state'].hasError('required')
                "
              >
                State is Mandatory in permanent Address !
              </span>
            </div>
            <div class="form-group">
              <label for="percity">City<sup class="text-danger"><strong>*</strong></sup></label>

              <input
                type="text"
                formControlName="city"
                class="form-control"
                id="percity"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGroup['city'].touched &&
                  currAddInnerFormGroup['city'].hasError('required')
                "
              >
                City is Mandatory in permanent Address !
              </span>
            </div>

            <div class="form-group">
              <label for="perzipcode">zipcode<sup class="text-danger"><strong>*</strong></sup></label>

              <input
                type="text"
                formControlName="zipcode"
                class="form-control"
                id="perzipcode"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGroup['zipcode'].touched &&
                  currAddInnerFormGroup['zipcode'].hasError('required')
                "
              >
                zipcode is Mandatory in permanent Address !
              </span>
              <ng-container *ngIf="currAddInnerFormGroup['zipcode'].dirty">
                <span
                  class="text-danger"
                  *ngIf="
                    currAddInnerFormGroup['zipcode'].hasError('minlength') ||
                    currAddInnerFormGroup['zipcode'].hasError('maxlength')
                  "
                >
                  Invalid zipcode (zipcode should contain 6 numbers !)
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="isAddSame">
              <input
                type="checkbox"
                formControlName="isAddSame"
                id="isAddSame"
              />
              Current Address and Permanent Address are same
            </label>
          </div>
        </div>

        <div class="form-group user-box">
          <label for="password">password<sup class="text-danger"><strong>*</strong></sup></label>
          <input 
          class="form-control eyeInput"
            type="password"
            formControlName="password"
            [type]="showPass ? 'text' : 'password'"
            id="password"
          />
          <span class="password-toggle-icon">
            <i class="fas"
             (click)="showPass=!showPass"
             class="fa-solid" 
             [ngClass]="{
              'fa-eye-slash' : !showPass,
              'fa-eye' : showPass
            }"></i>
          </span>
        </div>

        <div class="form-group user-box">
          <label for="confirmPassword">Confirm password<sup class="text-danger"><strong>*</strong></sup></label>
          <input
            type="password"
            formControlName="confirmPass"
            [type]="showConfPass ? 'text' : 'password'"
            id="Confirmpassword"
            class="form-control "
          />

          <span class="password-toggle-icon">
            
            <i class="fas" (click)="showConfPass=!showConfPass" class="fa-solid" [ngClass]="{
              'fa-eye-slash' : !showConfPass,
              'fa-eye' : showConfPass
            }"></i>
          </span>

          <span class="text-danger" *ngIf="f['confirmPass'].dirty && f['password'].value !== f['confirmPass'].value">
            Password And Confirm Password Must be same !!
          </span>
        </div>
       

        <button [disabled]="signUpForm.invalid" type="submit" class="btn btn-sm btn-primary btn-block">Sign Up</button>

        <br>
        <br>

         <br>
      </form>
    </div>
  </div>
</div>
